.spinner-overlay {
  position: fixed; /* Фиксированное позиционирование на всю страницу */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Полупрозрачный черный фон */
  display: flex;
  align-items: center; /* Вертикальное выравнивание */
  justify-content: center; /* Горизонтальное выравнивание */
  z-index: 1000; /* Убедитесь, что контейнер находится поверх других элементов */
}

.title {
  text-align: center;
}
